.book-container {
    max-width: 275px;
    background-color:teal;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid #fff;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

    button {
        align-self: flex-end;
        padding: .5rem;
        border-color: #fff;
        background: none;
        border-radius: .5rem;
        font-weight: 700;
        cursor: pointer;
        transition: .2s;
        color: #fff;

        &:hover {
            color: #000;
            background: #fff;
            transition: .2s;
        }
    }

    h2, p {
        display: flex;
        flex-direction: column;
        font-size: .875rem;
        font-weight: normal;

        span {
            font-size: 1.5rem;
        }
    }
}