main {
    padding: 1.5rem;
    flex: 1 1 auto;
    background:forestgreen;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
}