*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

@import "./header";
@import "./main";
@import "./footer";